*{
    margin: 0;
    padding: 0;
    display: block;
}

h1{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}

h2{
    font-size: 16px;
    font-family: sans-serif;
}
body{
    text-align: center;
}
.agrupamiento{
    background-color: #ffeaa7;
    width: 90%;
    padding: 15px;
    margin: 15px auto;
    border: 2px dashed black;
}

.cabezera{
    background: #fffbb9;
    border: 1px solid #999999;
    padding: 20px;
}

.menu{
    background: #74b9ff;
    padding: 5px;
    font: bold 14px verdana;
    text-align: left;
}

.cabezera h1{
    text-align: left;
}

.menu li{
    list-style: none;
    display: inline-block;
    padding: 5px;
    font: bold 14px verdana;
}

.seccion{
    margin: 20px;
    border: 1px solid black;
    background: yellow;
}

img{
    width: 100px;
    display: block;
    margin: 20px auto;
}

time{
    color: #74b9ff;
}

article{
    background: #fffbcc;
    border: 1px solid #999;
    padding: 20px;
    margin-bottom: 15px;
}

article footer{
    text-align: right;
    margin-top: 20px;
}

.barra-lateral{
    border: 1px solid black;
    background: yellow;
    margin: 20px 0;
}

.barra-lateral blockquote{
    border: 1px solid black;
    padding: 40px;
    margin-top: 20px;
    background: #fffbb9;
}

.pie-pagina{
    padding: 20px;
    background: #2d3436;
    color: #ffffff;
}
